body{
    background:linear-gradient(90deg, red, yellow)
}
div.relogio{
    position:relative;
    background:none;
    border:20px solid blue;
    width:600px;
    height: 18rem;
    top:10px;
    border-radius:180px;
    cursor:pointer;
    filter:drop-shadow(15px 10px 5px rgba(0,0,0,0.5))
}
div.relogio #day{
    font-size: 3rem;
}
.fonte{
    font-size:5rem;
    position:relative;
    top:30px
}
#time{
    position:relative;
    top:50px;
    font-size:100px;
    line-height:1px
}
img{
    height:auto;
    width:200px;
    position:relative;
    top:40px;
    cursor:pointer;
    transition:0.7s
}
img:hover{
    transform:rotateY(180grad)
}
.relogio:hover{
    border:20px solid red;
    color:blue
}
@media (max-width: 800px){
    body{
        background:linear-gradient(to right, red, yellow)
    }
    .fonte{
        font-size:70px;
        position:relative;
        top:20px;
        right:2px
    }
    div.relogio{
        position:relative;
        background:none;
        border:20px solid blue;
        width:25rem;
        height:16rem;
        right:10px;
        border-radius:180px;
        cursor:pointer
    }
    #time{
        position:relative;
        top:40px;
        font-size:50px
    }
    img{
        height:9rem;
        width:auto;
        position:relative;
        top:40px;
        cursor:pointer;
        transition:0.7s
    }
}
